<!doctype html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>demo-ecommerce</title>
</head>
<body>
    <h3>Page <span th:text="${currentPage}"></span></h3>
    <ul>
        <li th:each="product : ${products}">
            <span th:text="${product.name}"></span>
            <span th:text="${product.price}"></span>
            <p th:text="${product.description}"></p>
        </li>
    </ul>
    <p>Total number of pages = <span th:text="${totalPages}"></span></p>
    <h3>Best Sellers</h3>
    <ul>
        <li th:each="product : ${bestSellingProducts}">
            <span th:text="${product.name}"></span>
            <span th:text="${product.price}"></span>
            <p th:text="${product.description}"></p>
        </li>
    </ul>
</body>
</html>